/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Basic styling
 */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  line-height: 2;
  color: #42403e;
  box-sizing: border-box;
  margin: 0; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif; }

h2 {
  margin-bottom: 30px;
  line-height: 1.6; }
  .text-wrapper h2 {
    margin-top: 0; }
  .post-single h2 {
    margin-bottom: 0; }

/**
 * Links
 */
a {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  color: #42403e; }
  a:hover {
    color: #ED1882; }

/**
 * Blockquotes
 */
blockquote {
  color: #84807c;
  border-left: 4px solid #f3f3f2;
  padding-left: 15px;
  font-size: 18px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #f3f3f2; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    word-wrap: normal; }

sup {
  font-size: 1em;
  line-height: 1; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto; }

/**
 * Figures
 */
figure {
  margin: 1.5em auto; }

figure > img {
  display: block;
  border-radius: 4px; }
  figure > img.xl {
    width: 140%;
    margin-left: -20%;
    max-width: 140%; }

figcaption {
  font-size: 0.78em;
  text-align: center;
  margin-top: 0.5em; }

iframe.instagram-media {
  max-width: 400px !important;
  margin: 2rem auto !important; }

/**
 * Lists
 */
ul {
  max-width: 80%; }
  ul li {
    margin-bottom: 0.5em; }
    ul li > ul,
    ul li > ol {
      margin-top: 0.5em;
      margin-bottom: 1em; }
    ul li > p {
      margin-top: 0.5em;
      margin-bottom: 1em; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - (30px * 2));
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: calc(800px - (30px));
      padding: 0 15px; } }

.page-content {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-x: hidden;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 600px) {
    .page-content {
      padding-top: 1px; } }

.text-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px; }

.credit {
  margin-top: 3em;
  font-size: 0.8em;
  text-align: right; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  li > .highlight {
    margin-left: 0; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.post-list {
  padding-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }
  .post-list h3 {
    margin-bottom: 0;
    margin-top: 30px; }

.post-meta {
  font-size: 0.78em;
  color: #84807c;
  margin-top: 0; }
  .post-list .post-meta {
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 2.6; }
  .post-single .post-meta {
    margin-top: 15px; }

.post-link {
  display: block; }

.post {
  margin-top: 30px;
  margin-bottom: 120px; }
  .post-index:after {
    content: '';
    border-bottom: solid 1px #42403e;
    display: block;
    max-width: 150px; }
  .post-single {
    margin-bottom: 0;
    margin-top: 0; }

.post-title {
  margin-bottom: 0;
  line-height: 1.6; }
  .post-title a {
    text-decoration: none; }
  .post-list .post-title {
    display: block; }
    .post-list .post-title a {
      font-family: "Quicksand", sans-serif;
      font-weight: 400;
      text-decoration: underline;
      display: inline-block; }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.site-header {
  min-height: 56px;
  background-color: #fff;
  position: relative;
  z-index: 5; }

.site-nav {
  float: right;
  padding-top: 15px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      padding-top: 0; } }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #42403e;
    line-height: 2;
    text-transform: lowercase; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
    .site-nav .page-link:hover, .site-nav .page-link:active, .site-nav .page-link:focus {
      color: #ED1882; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #f3f3f2;
      border-radius: 2px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #42403e; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 0px 15px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; }
        .site-nav .page-link:hover, .site-nav .page-link:active, .site-nav .page-link:focus {
          color: #ED1882; } }

.site-footer {
  padding-bottom: 60px; }
  .site-footer .wrapper {
    text-align: center; }
    .site-footer .wrapper p {
      border-top: solid 1px #42403e;
      padding-top: 15px; }
    .site-footer .wrapper a {
      text-transform: lowercase; }
      .site-footer .wrapper a:not(:last-child) {
        margin-right: 20px; }
