---
layout: page
title: Web developer
---
<!-- Choose how many items we'd like to highlight -->
{% assign detailedItems = 3 %}

<h2>Hello! I’m Van.</h2>
<p>I'm a <strong>full-stack developer</strong> in training (and aspiring &#x1F3AE; game developer) with over two years front-end agency experience. I build badass animated websites to communicate important issues.</p>
<p>Here are some examples of what I can do &mdash;</p>

<ul>
{% for project in site.data.work %}
{% if forloop.index <= detailedItems %}
	<li><strong>{{ project.client }}</strong>
		{{ project.emoji }}
		<a href="{{ project.url }}" target="_blank" class="js-expand expand-details">{{ project.title }}</a><sup>&dagger;</sup>
		<!-- <a class="external-link" href="{{ project.url }}" target="_blank">&#x27c0;</a> -->
		<p>{{ project.summary }}</p>
	</li>
	{% if forloop.length > detailedItems and forloop.index == detailedItems %}
</ul>
<p>If those piqued your interest, then you're in luck &mdash;</p>
<ul>
	{% endif %}
{% else if forloop.length > 1 %}
	<li>
		<strong>{{ project.client }}</strong>
		<a href="{{ project.url }}" target="_blank" class="js-expand expand-details">{{ project.title }}</a><sup>&dagger;</sup>
		<!-- <a class="external-link" href="{{ project.url }}" target="_blank">&#x27c0;</a> -->
	</li>
{% endif %}
{% endfor %}
</ul>

<p class="smallprint">
	<sup>&dagger;</sup><span>Whilst at
		<a href="http://niceandserious.com/" target="_blank">Nice and Serious</a>
	</span>
</p>
