---
layout: page
title: Web developer
---
<!-- Choose how many items we'd like to highlight -->
{% assign detailedItems = 3 %}

<h2>Hello! I’m Van.</h2>
<p>I'm a <strong>full-stack developer</strong> with over two years of front-end experience at a digital agency, building websites to communicate important issues. Whilst I do love crafting a slick user interface and fanciful animations, I'm looking for opportunities to contribute right across the stack.</p>

<p>Here are some examples of what I can already do &mdash;<br>(click the summary to expand)</p>

<ul class="projects">
{% for project in site.data.work %}
{% if forloop.index <= detailedItems %}
	<li class="projects__item js-challenges projects__challenges"><strong>{{ project.client }}</strong>
		{{ project.emoji }}
		<a href="{{ project.url }}" target="_blank">{{ project.title }}</a>{% if project.footnote %}<sup>&dagger;</sup>{% endif %}
		<p>{{ project.summary }}</p>
		<div class="projects__hidden">
			<strong>My role</strong>{{ project.role }}<br>
			<p><strong>Key technologies used</strong>{{ project.technologies }}</p>
			<p><strong>Most challenging challenge</strong>{{ project.challenges }}</p>
			<p><strong>The solution</strong>{{ project.solution }}</p>
			<p><a href="{{ project.url }}" target="_blank">View project</a> &rarr;</p>
		</div>
	</li>
	{% if forloop.length > detailedItems and forloop.index == detailedItems %}
</ul>
<p>If those piqued your interest, then you're in luck &mdash;</p>
<ul class="projects">
	{% endif %}
{% else if forloop.length > 1 %}
	<li class="projects__item">
		<strong>{{ project.client }}</strong>
		<a href="{{ project.url }}" target="_blank">{{ project.title }}</a>{% if project.footnote %}<sup>&dagger;</sup>{% endif %}
	</li>
{% endif %}
{% endfor %}
</ul>

<p class="smallprint">
	<sup>&dagger;</sup><span>Whilst at
		<a href="http://niceandserious.com/" target="_blank">Nice and Serious</a>
	</span>
</p>
