.projects {
  padding-left: 1em;
  padding-right: 1em;
  list-style-type: none;

  strong {
    display: block;
  }

  @include media-query($tablet) {
    padding-left: 3em;

    strong {
      display: inline-block;
    }
  }

  &__hidden {
    transition: opacity 0.15s, all 0.4s ease-in-out;
    overflow: hidden;
    max-height: 0;
    padding: 0 1em;
    border: solid 1px $grey-color-dark;
    opacity: 0;

    @include media-query($tablet) {
      padding: 0 0.5em;
    }

    strong {
      display: block;
    }
  }

  &__item {
    position: relative;

    &:before {
      content: '';
      margin-right: 0.5em;
      display: inline-block;
      transition: transform 0.2s ease-in;
      transform-origin: 50% 55%;
      position: absolute;
      left: -1em;
    }
  }

  &__challenges {
    // list-style-type: none;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:before {
      content: '\203A';
    }

    &:hover,
    &:active,
    &:focus {
      &:before {
        transform: translateX(-5px);
      }
    }

    &.open {
      &:before {
        transform: translateX(-5px) rotate(90deg);
      }

      .projects__hidden {
        padding: 1em;
        max-height: 999px;
        margin-bottom: 2em;
        opacity: 1;

        @include media-query($tablet) {
          padding: 0.5em;
        }
      }
    }
  }

  &__thumbnail {
    border-radius: 2px;
    margin: 0.5rem auto;
  }
}
