.projects {
  list-style-type: none;

  @include media-query($on-palm) {
    padding-left: 1em;
    padding-right: 1em;
    max-width: none;
  }

  li {
    position: relative;
  }

  li:before {
    content: '\203A';
    margin-right: 0.5em;
    display: inline-block;
    transition: transform 0.2s ease-in;
    transform-origin: 50% 55%;

    @include media-query($on-palm) {
      position: absolute;
      left: -1em;
    }
  }

  .projects__hidden {
    transition: opacity 0.15s, all 0.4s ease-in-out;
    overflow: hidden;
    max-height: 0;
    padding: 0 1em;
    border: solid 1px $grey-color-dark;
    opacity: 0;

    @include media-query($on-palm) {
      padding: 0 0.5em;
    }

    strong {
      display: block;
    }
  }

  .projects__challenges {
    cursor: pointer;
    transition: transform 0.2s ease-in;

    &.open {
      &:before {
        transform: rotate(90deg);
      }

      .projects__hidden {
        padding: 1em;
        max-height: 999px;
        margin-bottom: 2em;
        opacity: 1;

        @include media-query($on-palm) {
          padding: 0.5em;
        }
      }
    }
  }

  .projects__thumbnail {
    border-radius: 2px;
    margin: 0.5rem auto;
  }
}
