.site-header {
  min-height: 56px;
  background-color: #fff;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 5;
}

.site-nav {
  float: right;
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border-radius: 2px;
  text-align: right;

  @include media-query($tablet) {
    padding-top: $spacing-unit / 2;
    position: inherit;
    background-color: transparent;
  }

  .trigger {
    clear: both;
    display: none;

    @include media-query($tablet) {
      display: block;
    }
  }

  &:hover .trigger {
    display: block;
    padding-bottom: 5px;

    @include media-query($tablet) {
      padding-bottom: 0;
    }
  }

  .page-link {
    display: block;
    padding: 0px 15px;
    color: $text-color;
    line-height: $base-line-height;
    text-transform: lowercase;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }

    @include media-query($tablet) {
      display: inline-block;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
      }
    }

    @include media-query($tablet) {
      display: none;
    }
  }
}
