.site-footer {
  padding-bottom: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;

  .text-wrapper {
    &:before {
      content: '';
      border-bottom: solid 1px $grey-color-dark;
      display: block;
      max-width: 150px;
      margin-bottom: $spacing-unit * 2;
    }
  }
}
