body {
  background-color: $background-color;
}

.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin: 0 auto;
  padding: 0 $spacing-unit / 2;
  @extend %clearfix;

  @include media-query($desktop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding: 0 $spacing-unit;
  }
}

.page-content {
  max-width: $content-width * 1.2;
  margin: $spacing-unit / 2 auto;
  background-color: $white;
  padding-bottom: $spacing-unit;
  overflow-x: hidden;
  position: relative;
  z-index: 1;

  @include media-query($desktop) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }
}

.text-wrapper {
  max-width: $content-width * 0.8;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

.credit {
  margin-top: 3em;
  font-size: 0.8em;
  text-align: right;
}
