/**
 * Lists
 */
ul {
	@include media-query($desktop) {
    max-width: 80%;
    margin-bottom: 2em;
	}

  li {
    margin-bottom: 0.5em;

    & > ul,
    & > ol {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }

    & > p {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }
}
